@using Models.Enums
@using Dorak.ViewModels.CenterViewModel
@section styles {
    <link rel="stylesheet" href="~/css/TableLayout.css" />
}
<div class="container">
    <div class="card shadow rounded-3 p-4">
        <div class="card-body">
            <h2 class="card-title mb-3 main-bg-color text-white fw-bold border-bottom text-center rounded-3 p-2">@Model.CenterName</h2>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item"><strong>Center ID:</strong> @Model.CenterId</li>
                <li class="list-group-item"><strong>Contact Number:</strong> @Model.ContactNumber</li>
                <li class="list-group-item"><strong>Email:</strong> @Model.Email</li>
                <li class="list-group-item"><strong>Website:</strong> <a href="@Model.WebsiteURL" target="_blank">@Model.WebsiteURL</a></li>
                <li class="list-group-item"><strong>Location:</strong> @Model.Street, @Model.City, @Model.Governorate, @Model.Country</li>
                <li class="list-group-item"><strong>Status:</strong> <span class="badge bg-@(Model.CenterStatus == CenterStatus.Active ? "success" : "danger")">@Model.CenterStatus</span></li>
                <li class="list-group-item"><strong>Latitude:</strong> @Model.Latitude</li>
                <li class="list-group-item"><strong>Longitude:</strong> @Model.Longitude</li>
                <li class="list-group-item"><strong>Map URL:</strong> @Model.MapURL</li>
            </ul>
            <a asp-controller="center" asp-action="Index" style="" class="btn text-white main-bg-color mt-3">Back to List</a>
        </div>
    </div>
</div>
