@using Models.Enums
@model PaginationViewModel<CenterViewModel>
@{
    bool canNext = !(Model.PageNumber * Model.PageSize < Model.Total);
    bool canBack = Model.PageNumber <= 1;
    int PageCount = (int)Math.Ceiling((double)Model.Total / Model.PageSize);
}
@section styles {
    <link rel="stylesheet" href="~/css/TableLayout.css" />
}
<div class="col-7 mb-4">
    <form asp-controller="Center" asp-action="Index" method="get" class="g-3 d-flex gap-4" id="searchForm">
        <input type="hidden" name="PageNumber" value="@Model.PageNumber" />
        <input type="text" class="form form-control" name="searchText" placeholder="Search Text">
        <input type="submit" class="btn text-white search-btn " value="Search" />
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Center ID</th>
            <th scope="col">Center Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">City</th>
            <th scope="col">Status</th>
            <th scope="col">Active</th>
            <th scope="col">Delete</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var center in Model.Data)
        {
            <tr>
                <td>@center.CenterId</td>
                <td>@center.CenterName</td>
                <td>@center.ContactNumber</td>
                <td>@center.City</td>
                <td>@center.CenterStatus</td>
                <td>
                    <form asp-controller="Center" asp-action="ToggleStatus" method="post" class="d-flex justify-content-center align-items-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input"
                                   type="checkbox"
                                   role="switch"
                                   data-center-id="@center.CenterId"
                                   onchange="toggleCenterStatus(this)"
                            @(center.CenterStatus == CenterStatus.Active ? "checked=\"checked\"" : "") />
                        </div>
                    </form>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="center" asp-action="delete" asp-route-CenterId="@center.CenterId">Delete</a>
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-controller="center" asp-action="details" asp-route-CenterId="@center.CenterId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center align-items-center gap-2 pt-2 pb-2">
    <button class="btn text-white main-bg-color" onclick="page('back')" disabled="@canBack">Back</button>
    @for (int i = 1; i <= PageCount; i++)
    {
        <button class="btn text-white main-bg-color" onclick="pagenum('@i')">@i</button>
    }
    <button class="btn text-white main-bg-color" onclick="page('next')" disabled="@canNext">Next</button>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section scripts {
    <script>
        let form = document.getElementById("searchForm");

        function page(btn) {
            if (btn == "next") {
                form.PageNumber.value++;
            } else {
                form.PageNumber.value--;
            }
            form.submit();
        }

        function pagenum(a) {
            form.PageNumber.value = a;
            form.submit();
        }
        function toggleCenterStatus(checkbox) {
            const centerId = checkbox.getAttribute("data-center-id");
            const status = checkbox.checked;
            $.ajax({
                url: '/center/ToggleStatus',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ centerId: parseInt(centerId), status })
            });
        }
    </script>
}