@model.
@{
    bool canNext = !(Model.PageNumber * Model.PageSize < Model.Total);
    bool canBack = Model.PageNumber <= 1;
    int PageCount = (int)Math.Ceiling((double)Model.Total / Model.PageSize);
}
@section styles {
    <link rel="stylesheet" href="~/css/centerIndex.css" />
}
<div class="col-md-4">
    <label>Search Text</label>
    <input type="text" class="form form-control" name="searchText">
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Center ID</th>
            <th scope="col">Center Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">City</th>
            <th scope="col">Status</th>
            <th scope="col">Active</th>
            <th scope="col">Inactive</th>
            <th scope="col">Delete</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var center in Model)
        {
            <tr>
                <td>@center.CenterId</td>
                <td>@center.CenterName</td>
                <td>@center.ContactNumber</td>
                <td>@center.City</td>
                <td>@center.CenterStatus</td>
                <td>
                    <a class="btn btn-success" asp-controller="center" asp-action="active" asp-route-CenterId="@center.CenterId">Active</a>
                </td>
                <td>
                    <a class="btn btn-secondary" asp-controller="center" asp-action="inactive" asp-route-CenterId="@center.CenterId">Inactive</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="center" asp-action="delete" asp-route-CenterId="@center.CenterId">Delete</a>
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-controller="center" asp-action="details" asp-route-CenterId="@center.CenterId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary" onclick="page('back')" disabled="@canBack">Back</button>
    <button class="btn btn-primary" onclick="page('next')" disabled="@canNext">Next</button>
</div>

<script>
    let form= document.getElementsByTagName("form")[0]

    function page(btn){
        if(btn == "next"){
            form.pagenumber.value++;
        }
        else{
            form.pagenumber.value--;
        }
        form.submit()
    }
</script>