<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/components.css"/>
    @RenderSection("styles", false)
    <title>@RenderSection("viewTitle",false)</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="nav d-flex align-items-center">
        <div class="container d-flex justify-content-end gap-2 p-0">
            <div class="profile-notifications d-flex gap-4">
                <div class="notifications">
                    <button type="button">
                        <svg width="25"
                             height="25"
                             viewBox="0 0 20 22"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 9.52141C9.59 9.52141 9.25 9.18141 9.25 8.77141V5.44141C9.25 5.03141 9.59 4.69141 10 4.69141C10.41 4.69141 10.75 5.03141 10.75 5.44141V8.77141C10.75 9.19141 10.41 9.52141 10 9.52141Z"
                                  fill="#012a4a" />
                            <path d="M10.0199 19.3502C7.43987 19.3502 4.86987 18.9402 2.41987 18.1202C1.50987 17.8202 0.819867 17.1702 0.519867 16.3502C0.219867 15.5302 0.319867 14.5902 0.809867 13.7702L2.07987 11.6502C2.35987 11.1802 2.60987 10.3002 2.60987 9.75024V7.65024C2.60987 3.56023 5.92987 0.240234 10.0199 0.240234C14.1099 0.240234 17.4299 3.56023 17.4299 7.65024V9.75024C17.4299 10.2902 17.6799 11.1802 17.9599 11.6502L19.2299 13.7702C19.6999 14.5502 19.7799 15.4802 19.4699 16.3302C19.1599 17.1802 18.4799 17.8302 17.6199 18.1202C15.1699 18.9502 12.5999 19.3502 10.0199 19.3502ZM10.0199 1.75023C6.75987 1.75023 4.10987 4.40023 4.10987 7.66024V9.76024C4.10987 10.5702 3.78987 11.7402 3.36987 12.4302L2.09987 14.5602C1.83987 14.9902 1.77987 15.4502 1.92987 15.8502C2.07987 16.2502 2.41987 16.5502 2.89987 16.7102C7.49987 18.2402 12.5599 18.2402 17.1599 16.7102C17.5899 16.5702 17.9199 16.2502 18.0699 15.8302C18.2299 15.4102 18.1799 14.9502 17.9499 14.5602L16.6799 12.4402C16.2599 11.7502 15.9399 10.5802 15.9399 9.77024V7.67024C15.9299 4.40024 13.2799 1.75023 10.0199 1.75023Z"
                                  fill="#012a4a" />
                            <path d="M9.99992 21.9003C8.92992 21.9003 7.87992 21.4603 7.11992 20.7003C6.35992 19.9403 5.91992 18.8903 5.91992 17.8203H7.41992C7.41992 18.5003 7.69992 19.1603 8.17992 19.6403C8.65992 20.1203 9.31992 20.4003 9.99992 20.4003C11.4199 20.4003 12.5799 19.2403 12.5799 17.8203H14.0799C14.0799 20.0703 12.2499 21.9003 9.99992 21.9003Z"
                                  fill="#012a4a" />
                        </svg>
                    </button>
                </div>
                <div class="profile-img me-4">
                    <a href="#">
                        <img src="~/images/doctor Profile.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="dropdown d-flex position-relative">
                <button id="dropdown-icon">
                    <svg width="25"
                         height="25"
                         viewBox="0 0 16 8"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.99977 8.00052C7.41644 8.00052 6.83311 7.77552 6.39144 7.33385L0.958105 1.90052C0.716439 1.65885 0.716439 1.25885 0.958105 1.01719C1.19977 0.775521 1.59977 0.775521 1.84144 1.01719L7.27477 6.45052C7.67477 6.85052 8.32477 6.85052 8.72477 6.45052L14.1581 1.01719C14.3998 0.775521 14.7998 0.775521 15.0414 1.01719C15.2831 1.25885 15.2831 1.65885 15.0414 1.90052L9.60811 7.33385C9.16644 7.77552 8.58311 8.00052 7.99977 8.00052Z"
                              fill="#012a4a" />
                    </svg>
                </button>
                <ul class="d-none p-3 z-3 m-0" id="dropdown-list">
                    <li>
                        <a class="dropdown-item" href="./doctor-profile.html">
                            Profile
                            <div class="profile-icon">
                                <svg width="25"
                                     height="25"
                                     viewBox="0 0 24 25"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                                          stroke="#012A4A"
                                          stroke-width="2.5" />
                                    <path d="M2 23C3 18 7 15 12 15C17 15 21 18 22 23"
                                          stroke="#012A4A"
                                          stroke-width="2.5"
                                          stroke-linecap="round" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="./doctor-settings.html">
                            Settings
                            <div class="settings-icon">
                                <svg width="25"
                                     height="25"
                                     viewBox="0 0 36 36"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.82813 26.2586C1.06823 24.975 0.479769 23.604 0.0767333 22.1783C0.975057 21.7446 1.73128 21.0799 2.26175 20.2577C2.79221 19.4355 3.07624 18.4878 3.08242 17.5195C3.08859 16.5511 2.81666 15.5999 2.29672 14.771C1.77677 13.9421 1.02908 13.2679 0.136358 12.8229C0.974235 9.96795 2.55262 7.36587 4.72283 5.26179C5.56232 5.79474 6.53837 6.09355 7.54295 6.12514C8.54753 6.15674 9.54147 5.91988 10.4148 5.44079C11.2881 4.96169 12.0067 4.25904 12.4911 3.4106C12.9755 2.56216 13.2067 1.60101 13.1593 0.633526C16.1453 -0.0911455 19.274 -0.0712157 22.2505 0.691437C22.192 1.65827 22.4122 2.62198 22.8867 3.47592C23.3613 4.32985 24.0717 5.04072 24.9394 5.52987C25.8071 6.01901 26.7982 6.26735 27.803 6.2474C28.8079 6.22746 29.7873 5.94001 30.6328 5.41686C31.6779 6.45545 32.6042 7.63506 33.3807 8.95024C34.1591 10.2654 34.7392 11.6354 35.1321 13.0306C34.2338 13.4642 33.4776 14.1289 32.9471 14.9511C32.4166 15.7733 32.1326 16.7211 32.1264 17.6894C32.1203 18.6577 32.3922 19.609 32.9121 20.4379C33.4321 21.2667 34.1798 21.941 35.0725 22.386C34.2346 25.2409 32.6562 27.843 30.486 29.9471C29.6465 29.4141 28.6705 29.1153 27.6659 29.0837C26.6613 29.0521 25.6674 29.289 24.7941 29.7681C23.9208 30.2472 23.2022 30.9498 22.7178 31.7982C22.2334 32.6467 22.0021 33.6078 22.0495 34.5753C19.0635 35.3 15.9348 35.2801 12.9583 34.5174C13.0169 33.5506 12.7967 32.5869 12.3221 31.7329C11.8475 30.879 11.1371 30.1681 10.2694 29.679C9.40174 29.1898 8.41065 28.9415 7.40582 28.9614C6.40098 28.9814 5.42159 29.2688 4.57602 29.792C3.50924 28.7304 2.58595 27.5432 1.82813 26.2586ZM12.1029 26.663C14.0313 27.75 15.4758 29.4846 16.1592 31.534C17.0648 31.6217 17.9744 31.6289 18.8809 31.5521C19.5893 29.5106 21.0551 27.7935 22.9971 26.73C24.9377 25.6632 27.219 25.3248 29.4033 25.7797C29.9342 25.069 30.3926 24.3107 30.7751 23.5168C29.2948 21.9042 28.4841 19.8221 28.4986 17.6696C28.5118 15.4651 29.3775 13.4108 30.8449 11.8501C30.4693 11.052 30.018 10.289 29.4967 9.5709C27.3085 9.99927 25.0328 9.63425 23.1059 8.5458C21.1775 7.45883 19.7331 5.72428 19.0496 3.6748C18.1441 3.58714 17.2344 3.57995 16.3279 3.65676C15.6195 5.6982 14.1537 7.41537 12.2118 8.47885C10.2712 9.54561 7.98983 9.88401 5.80551 9.4291C5.2757 10.1403 4.81644 10.898 4.43377 11.692C5.91408 13.3046 6.72473 15.3868 6.71024 17.5392C6.69705 19.7438 5.83134 21.798 4.36394 23.3587C4.73952 24.1569 5.19083 24.9198 5.71213 25.638C7.90035 25.2096 10.176 25.5746 12.1029 26.663ZM17.573 22.8534C16.1283 22.8448 14.7462 22.2834 13.7305 21.293C12.7149 20.3025 12.149 18.9639 12.1573 17.5718C12.1657 16.1797 12.7475 14.848 13.775 13.8698C14.8024 12.8915 16.1912 12.3468 17.6358 12.3555C19.0805 12.3641 20.4627 12.9254 21.4783 13.9159C22.4939 14.9064 23.0598 16.2449 23.0515 17.637C23.0432 19.0291 22.4613 20.3608 21.4339 21.3391C20.4065 22.3173 19.0177 22.862 17.573 22.8534ZM17.594 19.3541C18.0755 19.357 18.5384 19.1754 18.8809 18.8493C19.2234 18.5232 19.4173 18.0793 19.4201 17.6153C19.4229 17.1513 19.2343 16.7051 18.8957 16.3749C18.5572 16.0448 18.0964 15.8576 17.6149 15.8548C17.1333 15.8519 16.6704 16.0335 16.3279 16.3595C15.9855 16.6856 15.7915 17.1295 15.7887 17.5936C15.7859 18.0576 15.9746 18.5038 16.3131 18.8339C16.6517 19.1641 17.1124 19.3512 17.594 19.3541Z"
                                          fill="#012A4A" />
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Language
                            <div class="lang-btns d-flex">
                                <button type="button">Ar</button>
                                <button type="button">En</button>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            Logout
                            <div class="logout-icon">
                                <svg width="25"
                                     height="25"
                                     viewBox="0 0 31 31"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.99995 17.3271V20.6229C1.99995 27.1417 4.61035 29.7521 11.1292 29.7521H11.3188C17.1813 29.7521 19.8792 27.6375 20.3604 22.475"
                                          stroke="#012A4A"
                                          stroke-width="2.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M20.375 9.39376C19.9229 4.14374 17.225 2 11.3187 2H11.1292C4.6104 2 2 4.6104 2 11.1292"
                                          stroke="#012A4A"
                                          stroke-width="2.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M11.4789 15.8688H28.0747"
                                          stroke="#012A4A"
                                          stroke-width="2.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M24.8226 10.9834L29.708 15.8688L24.8226 20.7542"
                                          stroke="#012A4A"
                                          stroke-width="2.5"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Side Bar -->
    <aside class="side-bar d-flex flex-column justify-content-between m-0 p-0">
        <a class="navbar-brand fw-bold mt-1 align-self-center" href="#">Dorak</a>
        <ul class="d-block flex-grow-1 gap-5 m-0 p-0 ms-4 mt-4">
            <li class="selected mb-2">
                <a asp-controller="dashboard" asp-action="index">
                    <div class="dahboard-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9583 9.125V0.375H26.625V9.125H14.9583ZM0.375 14.9583V0.375H12.0417V14.9583H0.375ZM14.9583 26.625V12.0417H26.625V26.625H14.9583ZM0.375 26.625V17.875H12.0417V26.625H0.375ZM3.29167 12.0417H9.125V3.29167H3.29167V12.0417ZM17.875 23.7083H23.7083V14.9583H17.875V23.7083ZM17.875 6.20833H23.7083V3.29167H17.875V6.20833ZM3.29167 23.7083H9.125V20.7917H3.29167V23.7083Z"
                                  fill="#012A4A" />
                        </svg>
                    </div>
                    Dashboard
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="center" asp-action="index">
                    <div class="patient-queue-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.5212 0.729187C22.154 0.729187 20.9901 1.28126 20.2428 2.12201C19.4954 2.96275 19.1462 4.04082 19.1462 5.10419C19.1462 6.16755 19.4954 7.24562 20.2428 8.08636C20.9901 8.92711 22.154 9.47919 23.5212 9.47919C24.8883 9.47919 26.0522 8.92711 26.7996 8.08636C27.5469 7.24562 27.8962 6.16755 27.8962 5.10419C27.8962 4.04082 27.5469 2.96275 26.7996 2.12201C26.0522 1.28126 24.8883 0.729187 23.5212 0.729187ZM23.5212 2.91669C24.3415 2.91669 24.8182 3.18492 25.1646 3.57465C25.5111 3.96437 25.7087 4.52693 25.7087 5.10419C25.7087 5.68144 25.5111 6.244 25.1646 6.63373C24.8182 7.02345 24.3415 7.29169 23.5212 7.29169C22.7008 7.29169 22.2241 7.02345 21.8777 6.63373C21.5313 6.244 21.3337 5.68144 21.3337 5.10419C21.3337 4.52693 21.5313 3.96437 21.8777 3.57465C22.2241 3.18492 22.7008 2.91669 23.5212 2.91669ZM15.5003 8.02085C14.1331 8.02085 12.9693 8.57293 12.2219 9.41368C11.4746 10.2544 11.1253 11.3325 11.1253 12.3959C11.1253 13.4592 11.4746 14.5373 12.2219 15.378C12.9693 16.2188 14.1331 16.7709 15.5003 16.7709C16.8675 16.7709 18.0314 16.2188 18.7787 15.378C19.5261 14.5373 19.8753 13.4592 19.8753 12.3959C19.8753 11.3325 19.5261 10.2544 18.7787 9.41368C18.0314 8.57293 16.8675 8.02085 15.5003 8.02085ZM15.5003 10.2084C16.3206 10.2084 16.7974 10.4766 17.1438 10.8663C17.4902 11.256 17.6878 11.8186 17.6878 12.3959C17.6878 12.9731 17.4902 13.5357 17.1438 13.9254C16.7974 14.3151 16.3206 14.5834 15.5003 14.5834C14.68 14.5834 14.2033 14.3151 13.8569 13.9254C13.5104 13.5357 13.3128 12.9731 13.3128 12.3959C13.3128 11.8186 13.5104 11.256 13.8569 10.8663C14.2033 10.4766 14.68 10.2084 15.5003 10.2084ZM21.1514 10.9375C21.268 11.4042 21.3337 11.8927 21.3337 12.3959C21.3337 12.6438 21.3187 12.8844 21.2895 13.125H27.5316C27.7357 13.125 27.8962 13.2854 27.8962 13.4896V15.3125C27.8962 16.3479 26.0222 17.5 23.5212 17.5C22.6024 17.5 21.7643 17.3394 21.0716 17.0842C22.1799 17.5581 23.0392 18.5136 23.3673 19.6875H23.5212C27.2034 19.6875 30.0837 17.7625 30.0837 15.3125V13.4896C30.0837 12.0823 28.9389 10.9375 27.5316 10.9375H21.1514ZM7.47949 15.3125C6.1123 15.3125 4.94842 15.8646 4.20109 16.7053C3.45376 17.5461 3.10449 18.6242 3.10449 19.6875C3.10449 20.7509 3.45376 21.829 4.20109 22.6697C4.94842 23.5104 6.1123 24.0625 7.47949 24.0625C8.84668 24.0625 10.0106 23.5104 10.7579 22.6697C11.5052 21.829 11.8545 20.7509 11.8545 19.6875C11.8545 18.6242 11.5052 17.5461 10.7579 16.7053C10.0106 15.8646 8.84668 15.3125 7.47949 15.3125ZM7.47949 17.5C8.2998 17.5 8.77655 17.7683 9.12296 18.158C9.46939 18.5477 9.66699 19.1103 9.66699 19.6875C9.66699 20.2648 9.46939 20.8273 9.12296 21.2171C8.77655 21.6068 8.2998 21.875 7.47949 21.875C6.65918 21.875 6.18244 21.6068 5.83602 21.2171C5.4896 20.8273 5.29199 20.2648 5.29199 19.6875C5.29199 19.1103 5.4896 18.5477 5.83602 18.158C6.18244 17.7683 6.65918 17.5 7.47949 17.5ZM13.1305 18.2292C13.2472 18.6959 13.3128 19.1844 13.3128 19.6875C13.3128 19.9354 13.2978 20.1761 13.2687 20.4167H19.5107C19.7149 20.4167 19.8753 20.5771 19.8753 20.7813V22.6042C19.8753 23.6396 18.0014 24.7917 15.5003 24.7917C14.5816 24.7917 13.7435 24.631 13.0508 24.3758C14.1591 24.8498 15.0184 25.8052 15.3465 26.9792H15.5003C19.1826 26.9792 22.0628 25.0542 22.0628 22.6042V20.7813C22.0628 19.374 20.918 18.2292 19.5107 18.2292H13.1305ZM3.46908 25.5209C2.07275 25.5209 0.916992 26.6766 0.916992 28.0729V29.8959C0.916992 31.2945 1.85027 32.4342 3.05037 33.1543C4.25048 33.8744 5.79203 34.2709 7.47949 34.2709C9.16696 34.2709 10.7085 33.8744 11.9086 33.1543C13.1087 32.4342 14.042 31.2945 14.042 29.8959V28.0729C14.042 26.6766 12.8862 25.5209 11.4899 25.5209H3.46908ZM3.46908 27.7084H11.4899C11.705 27.7084 11.8545 27.8578 11.8545 28.0729V29.8959C11.8545 30.3092 11.5627 30.8112 10.7835 31.2787C10.0043 31.7463 8.81223 32.0834 7.47949 32.0834C6.14675 32.0834 4.95467 31.7463 4.17546 31.2787C3.39624 30.8112 3.10449 30.3092 3.10449 29.8959V28.0729C3.10449 27.8578 3.25394 27.7084 3.46908 27.7084Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Centers
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="provider" asp-action="index">
                    <div class="schedule-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.29167 30.0833C2.48958 30.0833 1.80295 29.7977 1.23177 29.2266C0.66059 28.6554 0.375 27.9687 0.375 27.1667V6.74999C0.375 5.94791 0.66059 5.26127 1.23177 4.69009C1.80295 4.11891 2.48958 3.83332 3.29167 3.83332H4.75V0.916656H7.66667V3.83332H19.3333V0.916656H22.25V3.83332H23.7083C24.5104 3.83332 25.197 4.11891 25.7682 4.69009C26.3394 5.26127 26.625 5.94791 26.625 6.74999V27.1667C26.625 27.9687 26.3394 28.6554 25.7682 29.2266C25.197 29.7977 24.5104 30.0833 23.7083 30.0833H3.29167ZM3.29167 27.1667H23.7083V12.5833H3.29167V27.1667ZM3.29167 9.66666H23.7083V6.74999H3.29167V9.66666ZM13.5 18.4167C13.0868 18.4167 12.7405 18.2769 12.4609 17.9974C12.1814 17.7179 12.0417 17.3715 12.0417 16.9583C12.0417 16.5451 12.1814 16.1988 12.4609 15.9193C12.7405 15.6397 13.0868 15.5 13.5 15.5C13.9132 15.5 14.2595 15.6397 14.5391 15.9193C14.8186 16.1988 14.9583 16.5451 14.9583 16.9583C14.9583 17.3715 14.8186 17.7179 14.5391 17.9974C14.2595 18.2769 13.9132 18.4167 13.5 18.4167ZM7.66667 18.4167C7.25347 18.4167 6.90712 18.2769 6.6276 17.9974C6.34809 17.7179 6.20833 17.3715 6.20833 16.9583C6.20833 16.5451 6.34809 16.1988 6.6276 15.9193C6.90712 15.6397 7.25347 15.5 7.66667 15.5C8.07986 15.5 8.42622 15.6397 8.70573 15.9193C8.98524 16.1988 9.125 16.5451 9.125 16.9583C9.125 17.3715 8.98524 17.7179 8.70573 17.9974C8.42622 18.2769 8.07986 18.4167 7.66667 18.4167ZM19.3333 18.4167C18.9201 18.4167 18.5738 18.2769 18.2943 17.9974C18.0148 17.7179 17.875 17.3715 17.875 16.9583C17.875 16.5451 18.0148 16.1988 18.2943 15.9193C18.5738 15.6397 18.9201 15.5 19.3333 15.5C19.7465 15.5 20.0929 15.6397 20.3724 15.9193C20.6519 16.1988 20.7917 16.5451 20.7917 16.9583C20.7917 17.3715 20.6519 17.7179 20.3724 17.9974C20.0929 18.2769 19.7465 18.4167 19.3333 18.4167ZM13.5 24.25C13.0868 24.25 12.7405 24.1102 12.4609 23.8307C12.1814 23.5512 12.0417 23.2048 12.0417 22.7917C12.0417 22.3785 12.1814 22.0321 12.4609 21.7526C12.7405 21.4731 13.0868 21.3333 13.5 21.3333C13.9132 21.3333 14.2595 21.4731 14.5391 21.7526C14.8186 22.0321 14.9583 22.3785 14.9583 22.7917C14.9583 23.2048 14.8186 23.5512 14.5391 23.8307C14.2595 24.1102 13.9132 24.25 13.5 24.25ZM7.66667 24.25C7.25347 24.25 6.90712 24.1102 6.6276 23.8307C6.34809 23.5512 6.20833 23.2048 6.20833 22.7917C6.20833 22.3785 6.34809 22.0321 6.6276 21.7526C6.90712 21.4731 7.25347 21.3333 7.66667 21.3333C8.07986 21.3333 8.42622 21.4731 8.70573 21.7526C8.98524 22.0321 9.125 22.3785 9.125 22.7917C9.125 23.2048 8.98524 23.5512 8.70573 23.8307C8.42622 24.1102 8.07986 24.25 7.66667 24.25ZM19.3333 24.25C18.9201 24.25 18.5738 24.1102 18.2943 23.8307C18.0148 23.5512 17.875 23.2048 17.875 22.7917C17.875 22.3785 18.0148 22.0321 18.2943 21.7526C18.5738 21.4731 18.9201 21.3333 19.3333 21.3333C19.7465 21.3333 20.0929 21.4731 20.3724 21.7526C20.6519 22.0321 20.7917 22.3785 20.7917 22.7917C20.7917 23.2048 20.6519 23.5512 20.3724 23.8307C20.0929 24.1102 19.7465 24.25 19.3333 24.25Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Providers
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="client" asp-action="index">
                    <div class="reports-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.333 24.1667V13.9583H24.1663V24.1667H18.333ZM9.58301 24.1667V0.833344H15.4163V24.1667H9.58301ZM0.833008 24.1667V8.12501H6.66634V24.1667H0.833008Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Manage Clients
                </a>
            </li>
            <li class="mb-2">
                <a asp-controller="analysis" asp-action="index">
                    <div class="reports-icon">
                        <svg width="30"
                             height="30"
                             viewBox="0 0 35 35"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.333 24.1667V13.9583H24.1663V24.1667H18.333ZM9.58301 24.1667V0.833344H15.4163V24.1667H9.58301ZM0.833008 24.1667V8.12501H6.66634V24.1667H0.833008Z"
                                  fill="#ECF0F1" />
                        </svg>
                    </div>
                    Analysis
                </a>
            </li>
        </ul>
        <div class="date-time d-flex justify-content-center gap-4 mb-3">
            <div class="clock-icon">
                <svg width="50"
                     height="50"
                     viewBox="0 0 50 50"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M25 0C11.2009 0 0 11.2009 0 25C0 38.7991 11.2009 50 25 50C38.7991 50 50 38.7991 50 25C50 11.2009 38.7991 0 25 0ZM25 1.51515C37.9794 1.51515 48.4848 12.0206 48.4848 25C48.4848 37.9794 37.9794 48.4848 25 48.4848C12.0206 48.4848 1.51515 37.9794 1.51515 25C1.51515 12.0206 12.0206 1.51515 25 1.51515ZM25 3.0303C24.1625 3.0303 23.4848 3.70798 23.4848 4.54545C23.4848 5.38293 24.1625 6.06061 25 6.06061C25.8375 6.06061 26.5152 5.38293 26.5152 4.54545C26.5152 3.70798 25.8375 3.0303 25 3.0303ZM19.7118 4.48627C19.694 4.48331 19.6763 4.48627 19.6615 4.48627C19.6082 4.48923 19.5608 4.49811 19.5105 4.50994C19.1051 4.61944 18.8654 5.03374 18.9749 5.43916C19.0844 5.84458 19.4987 6.08428 19.9012 5.97479C20.3066 5.86529 20.5463 5.45099 20.4397 5.04557C20.351 4.71709 20.055 4.48923 19.7118 4.48627ZM30.2882 4.48627C29.9479 4.48923 29.652 4.72005 29.5632 5.04853C29.4537 5.45395 29.6934 5.86825 30.0988 5.97775C30.5043 6.08428 30.9186 5.84458 31.0251 5.44212C31.0784 5.2468 31.0517 5.03965 30.9511 4.86506C30.8505 4.69046 30.6848 4.56321 30.4924 4.50994C30.4244 4.49515 30.3563 4.48627 30.2882 4.48627ZM14.755 6.52817C14.6277 6.53113 14.5034 6.56664 14.3939 6.62879C14.2193 6.7294 14.0921 6.89512 14.0388 7.09044C13.9885 7.28279 14.0152 7.48994 14.1158 7.66454C14.2164 7.83913 14.3821 7.96638 14.5774 8.01669C14.7698 8.06996 14.9769 8.04332 15.1515 7.94271C15.5125 7.7326 15.6368 7.26799 15.4267 6.90696C15.2906 6.66726 15.0331 6.52225 14.755 6.52817ZM35.1918 6.53113C34.9343 6.54297 34.7005 6.68501 34.5703 6.90992C34.3602 7.27095 34.4875 7.7326 34.8485 7.94271C35.2095 8.15282 35.6741 8.02853 35.8813 7.6675C35.9848 7.4929 36.0115 7.28575 35.9582 7.09044C35.9079 6.89512 35.7807 6.7294 35.6061 6.62879C35.4818 6.55777 35.3368 6.52225 35.1918 6.53113ZM25 7.57576C24.5827 7.57576 24.2424 7.91607 24.2424 8.33333C24.2424 8.75059 24.5827 9.09091 25 9.09091C25.4173 9.09091 25.7576 8.75059 25.7576 8.33333C25.7576 7.91607 25.4173 7.57576 25 7.57576ZM10.5469 9.77746C10.3427 9.77746 10.1444 9.85736 10.0024 10.0024C9.70644 10.2953 9.70644 10.7777 10.0024 11.0707C10.2953 11.3666 10.7777 11.3666 11.0707 11.0707C11.3666 10.7777 11.3666 10.2953 11.0707 10.0024C10.9316 9.86032 10.7451 9.78042 10.5469 9.77746ZM39.4738 9.77746C39.2696 9.77746 39.0714 9.85736 38.9293 10.0024C38.6334 10.2953 38.6334 10.7777 38.9293 11.0707C39.2223 11.3666 39.7047 11.3666 39.9976 11.0707C40.2936 10.7777 40.2936 10.2953 39.9976 10.0024C39.8585 9.86032 39.6721 9.78042 39.4738 9.77746ZM25 10.6061C24.5827 10.6061 24.2424 10.9464 24.2424 11.3636C24.2424 11.7809 24.5827 12.1212 25 12.1212C25.4173 12.1212 25.7576 11.7809 25.7576 11.3636C25.7576 10.9464 25.4173 10.6061 25 10.6061ZM30.448 10.8428L25.4942 22.02C25.3314 21.9934 25.1687 21.9697 25 21.9697C23.3339 21.9697 21.9697 23.3339 21.9697 25C21.9697 26.6661 23.3339 28.0303 25 28.0303C25.5593 28.0303 26.0772 27.8675 26.527 27.6012L32.9072 33.9755L33.9755 32.9072L27.6012 26.527C27.8675 26.0772 28.0303 25.5593 28.0303 25C28.0303 24.0442 27.5716 23.1978 26.8732 22.6415L31.833 11.4554L30.448 10.8428ZM42.6965 14.0152C42.5692 14.0181 42.445 14.0536 42.3325 14.1158C41.9715 14.3259 41.8472 14.7875 42.0573 15.1515C42.2674 15.5125 42.729 15.6368 43.0901 15.4267C43.2647 15.3291 43.3919 15.1634 43.4452 14.968C43.4985 14.7727 43.4718 14.5656 43.3712 14.3939C43.2321 14.1542 42.9717 14.0092 42.6965 14.0152ZM7.25024 14.0152C6.99278 14.027 6.759 14.169 6.62879 14.3939C6.41868 14.755 6.54593 15.2196 6.90696 15.4267C7.26799 15.6368 7.7326 15.5125 7.94271 15.1515C8.14986 14.7905 8.02557 14.3259 7.66454 14.1187C7.54025 14.0447 7.39524 14.0092 7.25024 14.0152ZM5.23497 18.9512C4.89465 18.9512 4.59872 19.1821 4.50994 19.5105C4.40045 19.916 4.64015 20.3303 5.04557 20.4397C5.45099 20.5463 5.86529 20.3066 5.97479 19.9012C6.08132 19.4987 5.84162 19.0844 5.4362 18.9749C5.37109 18.9571 5.30303 18.9483 5.23497 18.9512ZM44.7857 18.9512C44.7088 18.9483 44.6348 18.9542 44.5608 18.9749C44.1554 19.0844 43.9157 19.4987 44.0252 19.9012C44.1347 20.3066 44.549 20.5463 44.9544 20.4397C45.3569 20.3303 45.5966 19.916 45.4901 19.5105C45.4013 19.1909 45.1172 18.9631 44.7857 18.9512ZM4.54545 23.4848C3.70798 23.4848 3.0303 24.1625 3.0303 25C3.0303 25.8375 3.70798 26.5152 4.54545 26.5152C5.38293 26.5152 6.06061 25.8375 6.06061 25C6.06061 24.1625 5.38293 23.4848 4.54545 23.4848ZM25 23.4848C25.8464 23.4848 26.5152 24.1536 26.5152 25C26.5152 25.8464 25.8464 26.5152 25 26.5152C24.1536 26.5152 23.4848 25.8464 23.4848 25C23.4848 24.1536 24.1536 23.4848 25 23.4848ZM45.4545 23.4848C44.6171 23.4848 43.9394 24.1625 43.9394 25C43.9394 25.8375 44.6171 26.5152 45.4545 26.5152C46.292 26.5152 46.9697 25.8375 46.9697 25C46.9697 24.1625 46.292 23.4848 45.4545 23.4848ZM8.33333 24.2424C7.91607 24.2424 7.57576 24.5827 7.57576 25C7.57576 25.4173 7.91607 25.7576 8.33333 25.7576C8.75059 25.7576 9.09091 25.4173 9.09091 25C9.09091 24.5827 8.75059 24.2424 8.33333 24.2424ZM11.3636 24.2424C10.9464 24.2424 10.6061 24.5827 10.6061 25C10.6061 25.4173 10.9464 25.7576 11.3636 25.7576C11.7809 25.7576 12.1212 25.4173 12.1212 25C12.1212 24.5827 11.7809 24.2424 11.3636 24.2424ZM38.6364 24.2424C38.2191 24.2424 37.8788 24.5827 37.8788 25C37.8788 25.4173 38.2191 25.7576 38.6364 25.7576C39.0536 25.7576 39.3939 25.4173 39.3939 25C39.3939 24.5827 39.0536 24.2424 38.6364 24.2424ZM41.6667 24.2424C41.2494 24.2424 40.9091 24.5827 40.9091 25C40.9091 25.4173 41.2494 25.7576 41.6667 25.7576C42.0839 25.7576 42.4242 25.4173 42.4242 25C42.4242 24.5827 42.0839 24.2424 41.6667 24.2424ZM5.27048 29.5366C5.19354 29.5336 5.11956 29.5425 5.04557 29.5603C4.85026 29.6135 4.68454 29.7408 4.58393 29.9154C4.48331 30.09 4.45668 30.2971 4.50994 30.4924C4.61944 30.8949 5.03374 31.1346 5.4362 31.0251C5.84162 30.9186 6.08132 30.5043 5.97479 30.0988C5.88897 29.7763 5.60192 29.5484 5.27048 29.5366ZM44.7502 29.5366C44.4099 29.5425 44.114 29.7704 44.0252 30.1018C43.9157 30.5043 44.1554 30.9186 44.5608 31.0281C44.9663 31.1375 45.3806 30.8978 45.4901 30.4924C45.5966 30.087 45.3569 29.6727 44.9544 29.5662C44.8864 29.5455 44.8183 29.5366 44.7502 29.5366ZM7.26799 34.4697C7.14074 34.4727 7.01645 34.5082 6.90696 34.5703C6.54593 34.7804 6.41868 35.2421 6.62879 35.6061C6.7294 35.7777 6.89512 35.9049 7.09044 35.9582C7.28279 36.0115 7.48994 35.9848 7.66454 35.8813C7.83913 35.7836 7.96638 35.6179 8.01669 35.4226C8.06996 35.2273 8.04332 35.0201 7.94271 34.8485C7.80362 34.6088 7.54321 34.4638 7.26799 34.4697ZM42.6758 34.4697C42.4183 34.4845 42.1845 34.6265 42.0573 34.8485C41.8472 35.2125 41.9715 35.6741 42.3325 35.8842C42.5071 35.9848 42.7143 36.0115 42.9096 35.9612C43.1049 35.9079 43.2706 35.7807 43.3712 35.6061C43.4718 35.4344 43.4985 35.2273 43.4452 35.032C43.3919 34.8366 43.2647 34.6709 43.0901 34.5733C42.9658 34.4993 42.8208 34.4638 42.6758 34.4697ZM25 37.8788C24.5827 37.8788 24.2424 38.2191 24.2424 38.6364C24.2424 39.0536 24.5827 39.3939 25 39.3939C25.4173 39.3939 25.7576 39.0536 25.7576 38.6364C25.7576 38.2191 25.4173 37.8788 25 37.8788ZM10.5469 38.7074C10.3427 38.7044 10.1444 38.7843 10.0024 38.9293C9.70644 39.2223 9.70644 39.7047 10.0024 39.9976C10.2953 40.2936 10.7777 40.2936 11.0707 39.9976C11.3666 39.7047 11.3666 39.2223 11.0707 38.9293C10.9316 38.7873 10.7451 38.7074 10.5469 38.7074ZM39.4738 38.7074C39.2696 38.7044 39.0714 38.7843 38.9293 38.9293C38.6334 39.2223 38.6334 39.7047 38.9293 39.9976C39.2223 40.2936 39.7047 40.2936 39.9976 39.9976C40.2936 39.7047 40.2936 39.2223 39.9976 38.9293C39.8585 38.7873 39.6721 38.7074 39.4738 38.7074ZM25 40.9091C24.5827 40.9091 24.2424 41.2494 24.2424 41.6667C24.2424 42.0839 24.5827 42.4242 25 42.4242C25.4173 42.4242 25.7576 42.0839 25.7576 41.6667C25.7576 41.2494 25.4173 40.9091 25 40.9091ZM35.2066 41.9537C35.0823 41.9596 34.958 41.9922 34.8485 42.0573C34.4845 42.2674 34.3602 42.729 34.5703 43.0901C34.7804 43.4541 35.2421 43.5784 35.6061 43.3712C35.7777 43.2706 35.9049 43.1049 35.9582 42.9096C36.0115 42.7143 35.9848 42.5071 35.8813 42.3325C35.7451 42.0928 35.4847 41.9478 35.2066 41.9537ZM14.7372 41.9596C14.4798 41.9715 14.246 42.1135 14.1158 42.3355C14.0152 42.5101 13.9885 42.7172 14.0388 42.9096C14.0921 43.1049 14.2193 43.2706 14.3939 43.3712C14.755 43.5813 15.2196 43.4541 15.4267 43.093C15.6368 42.732 15.5125 42.2674 15.1515 42.0573C15.0243 41.9863 14.8822 41.9508 14.7372 41.9596ZM25 43.9394C24.1625 43.9394 23.4848 44.6171 23.4848 45.4545C23.4848 46.292 24.1625 46.9697 25 46.9697C25.8375 46.9697 26.5152 46.292 26.5152 45.4545C26.5152 44.6171 25.8375 43.9394 25 43.9394ZM19.697 44.0015C19.3596 44.0045 19.0607 44.2324 18.9749 44.5638C18.8654 44.9663 19.1051 45.3806 19.5076 45.4901C19.913 45.5995 20.3273 45.3598 20.4368 44.9544C20.5463 44.549 20.3066 44.1347 19.9012 44.0252C19.8361 44.0104 19.768 44.0015 19.697 44.0015ZM30.3237 44.0015C30.2468 43.9986 30.1699 44.0075 30.0988 44.0252C29.6934 44.1347 29.4537 44.549 29.5603 44.9544C29.6697 45.3598 30.084 45.5995 30.4895 45.4901C30.8949 45.3806 31.1346 44.9663 31.0251 44.5638C30.9393 44.2412 30.6552 44.0134 30.3237 44.0015Z"
                          fill="#ecf0f1" />
                </svg>
            </div>
            <div class="date-time-info d-flex flex-column">
                <span class="time">@DateTime.Now.ToString("hh:mm tt")</span>
                <span class="date">@DateTime.Now.ToString("dd-MM-yyyy")</span>
            </div>
        </div>
    </aside>
    <!-- Main -->
    <main>
        <div class="container pt-4 pb-4 pe-0 ps-0">
            @RenderBody()
        </div>
    </main>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/components.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
